.album {
  &--active {
    background-color: goldenrod;
  }

  &__thumbnail {
    & > img {
      border-radius: 0.25rem;
      width: 190px;
    }

    &--active {
      color: goldenrod;
    }
  }

  &__name {
    font-weight: bold;
  }
}
